@import '../../styles';

.stats {
  flex-direction: column;

  .stats-card {
    flex: 1 1 auto;

    .stats-header-image {
      color: #008000;

      &.warning {
        color: #FFA500;
      }

      .mat-icon {
        @include md-icon-size(36px);
      }
    }

    .mat-card-content {
      padding-top: 15px;

      .label-value-table {
        .label-column,
        .value-column {
          > div {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

.label-value-table {
  display: flex;

  .label-column {
    width: 50%;

    @include md {
      width: 40%;
    }

    @include gt-md {
      width: 25%;
    }
  }

  .value-column {
    width: 50%;

    @include md {
      width: 60%;
    }

    @include gt-md {
      width: 75%;
    }
  }
}
