<mat-card class="mat-elevation-z mat-smo-default-card mat-smo-dependency-information-card">

  <mat-card-header>
    <div mat-card-avatar class="mat-card-avatar img-{{ image }}">
    </div>
    <mat-card-title>{{ headerText | translate }}</mat-card-title>
    <mat-card-subtitle>{{ subText | translate }}</mat-card-subtitle>

    <mat-card-actions>
      <button mat-icon-button [ngxClipboard]="copyTarget">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="template-value input-no-underline">
      <textarea matInput
                matTextareaAutosize
                #copyTarget
                readonly
                [(ngModel)]="value"></textarea>
    </mat-form-field>
  </mat-card-content>


</mat-card>
