.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }

  .logo {
    max-width: 300px;
  }
}

.navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.navbar {
  display: none;
}

.navbar-show-small {
  display: none;
}

/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
  .navbar-header {
    box-shadow: none;
  }

  .navbar-hide-small {
    display: none;
  }

  .navbar-show-small {
    box-shadow: 0 3px 0 -2px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(0, 0, 0, 0.14), 0 1px 0 0 rgba(0, 0, 0, 0.12);
    display: block;
  }

  .navbar {
    display: flex;
    padding: 0 3px;
  }
}

@mixin nav-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
}
