<nav class="navbar-header mat-elevation-z2">
  <a href="/"><img class="logo" src="/assets/images/logo.png"/></a>
  <div class="flex-spacer"></div>
  <button mat-button
     class="button navbar-hide-small"
     routerLink="search"
     aria-label="Search">
    {{ 'navbar.search' | translate }}
  </button>
  <button mat-button
     class="button navbar-hide-small"
     routerLink="advanced-search"
     aria-label="Advanced Search">
    {{ 'navbar.advanced' | translate }}
  </button>
  <!--<button mat-button
     class="button navbar-hide-small"
     href="https://repo1.maven.org/maven2/"
     target="_blank"
     aria-label="Browse">
    {{ 'navbar.browse' | translate }}
  </button>-->
  <button mat-button
     class="button navbar-hide-small"
     routerLink="stats"
     aria-label="Quick Stats">
    {{ 'navbar.stats' | translate }}
  </button>
</nav>
<nav class="navbar navbar-show-small">
  <button mat-button
     class="navbar-link ellipsis"
     routerLink="search"
     aria-label="Search">
    {{ 'navbar.search' | translate }}
  </button>
  <button mat-button
     class="navbar-link ellipsis"
     routerLink="advanced-search"
     aria-label="Advanced Search">
    {{ 'navbar.advanced' | translate }}
  </button>
  <!--<button mat-button
     class="navbar-link ellipsis"
     href="https://repo1.maven.org/maven2/"
     target="_blank"
     aria-label="Browse">
    {{ 'navbar.browse' | translate }}
  </button>-->
  <button mat-button
     class="navbar-link ellipsis"
     routerLink="stats"
     aria-label="Quick Stats">
    {{ 'navbar.stats' | translate }}
  </button>
</nav>
