@import './assets/styles/responsive';
@import './assets/styles/mixins';
@import './assets/styles/smo-theme';
@import './assets/styles/smo-typography';
@import './app/app.component';

html, body {
  @include full-size();
}

body {
  box-sizing: border-box;
  color: $smo-text-color;
  font-family: $smo-font-family;
  font-size: $smo-font-size;
  line-height: $smo-line-height;
  margin: 0;
}

a, a:visited, a:hover {
  color: mat-color($primary);
  text-decoration: none;
  cursor: pointer;
}

app-root {
  @include display-flex-column();
  @include full-size();
}

router-outlet + * {
  @include display-flex-auto();
  @include full-size();

  > * {
    padding: 8px 16px;

    @include display-flex-auto();
  }
}

.button[md-button], .button[md-raised-button] {
  text-transform: uppercase;
}
