@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~@angular/material/theming';
@import './assets/styles/smo-theme';
@import './assets/styles/smo-responsive';
@import './assets/styles/mixins';
@import './app/app.component';

$primary: mat-palette($mat-smo);
$accent: mat-palette($mat-smo-accent);
$theme: mat-light-theme($primary, $accent);

@include mat-core();
@include angular-material-theme($theme);
@include smo-app-theme($theme);

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

a, a:visited, a:hover {
  color: mat-color($primary);
  text-decoration: none;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

router-outlet + * {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1 1 auto;

  > * {
    display: flex;
    flex: 1 1 auto;
    padding: 8px 16px;
  }
}

.button[md-button], .button[md-raised-button] {
  text-transform: uppercase;
}

.mat-input-container.input-no-underline .mat-input-underline {
  display: none;
}

.flex-spacer {
  flex-grow: 1;
}

.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.muted {
  color: #999;
}

.muted-input {
  background-color: #ddd;
}

.label-value-table {
  display: flex;

  .label-column {
    width: 50%;

    @include md {
      width: 40%;
    }

    @include gt-md {
      width: 25%;
    }
  }

  .value-column {
    width: 50%;

    @include md {
      width: 60%;
    }

    @include gt-md {
      width: 75%;
    }
  }

}

.mat-smo-card-header-toolbar {
  position: sticky;
  top: -24px;
  z-index: 1;
  background-color: #006699;
  color: #fff;
  height: 128px;
  margin: -24px -24px 16px -24px !important;
  width: calc(100% + 48px);
}
