@import '../../styles.scss';

.code {
  color: $smo-muted-color;
  font-weight: lighter;
  word-break: break-all;
}

.mat-card-avatar {
  background-size: cover;
  border: 1px solid $smo-border-color;
  background-image: url('/assets/images/brackets.png');
}

.mat-card {
  margin: 5px;
}
