<div class="search">
  <div class="search-form">

    <mat-form-field>

      <input matInput
             placeholder="Search"
             [matAutocomplete]="auto"
             [formControl]="stateCtrl"
             (keyup.enter)="navigate()"
             class="">

      <mat-autocomplete #auto="matAutocomplete" class="search-auto-complete mat-elevation-z">
        <div *ngFor="let doc of searchDocs | async" class="search-grouped-options">
          <mat-option [routerLink]="['/search']"
                      [queryParams]="{q: 'g:' + doc.g}" [value]="'g:' + doc.g"
                      class="mat-option-title-value">
            <div class="option-title-value">{{ doc.g}}</div>
          </mat-option>
          <mat-option [routerLink]="['/search']" [queryParams]="{q: 'a:' + doc.a}" [value]="'a:' + doc.a">
            <div class="option-title">{{'search.header.artifactId' | translate}}</div>
            <div class="option-value">{{ doc.a }}</div>
          </mat-option>
          <mat-option [routerLink]="['/artifact', doc.g, doc.a, doc.latestVersion, doc.p]">
            <div class="option-title">{{'search.header.latestVersion' | translate}}</div>
            <div class="option-value">{{ doc.latestVersion }}</div>
          </mat-option>
        </div>
      </mat-autocomplete>

      <mat-icon *ngIf="query?.length > 0"
                matSuffix color="primary"
                (click)="clearQuery()">close</mat-icon>

      <mat-icon matSuffix color="primary"
                (click)="navigate()">search</mat-icon>

    </mat-form-field>

  </div>

</div>
