<div class="search">
  <div class="search-form" [ngClass]="{'search-mode' : dataSource.hasSearched}">
    <mat-form-field>
      <input matInput #q placeholder="Search" class="">
      <mat-icon matSuffix color="primary">search</mat-icon>
    </mat-form-field>
  </div>

  <div class="search-result" [ngClass]="{'hidden' : !dataSource.totalCount}">

    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="groupId">
        <mat-header-cell *matHeaderCellDef>
          {{'search.header.groupId' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="ellipsis">
          <a [routerLink]="['/search/g', row.g]">{{ row.id }}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="artifactId">
        <mat-header-cell *matHeaderCellDef class="xs-hide">
          {{'search.header.artifactId' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="ellipsis xs-hide">
          <a [routerLink]="['/search/a', row.a]">{{row.a}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="latestVersion">
        <mat-header-cell *matHeaderCellDef class="xs-hide">
          {{'search.header.latestVersion' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="ellipsis xs-hide">
          <a [routerLink]="['/artifact', row.g, row.a, row.latestVersion, row.p]">{{row.latestVersion}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updated">
        <mat-header-cell *matHeaderCellDef class="sm-hide">
          {{'search.header.updated' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="ellipsis sm-hide">
          {{row.timestamp | date : format : timezone}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="download">
        <mat-header-cell *matHeaderCellDef class="sm-hide">
          {{'search.header.download' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="ellipsis sm-hide">
          <span *ngFor="let ec of row.ec">
            <a [routerLink]="['/remotecontent', row.g, row.a, row.latestVersion, row.a + '-' + row.latestVersion + ec]">{{ ec }}</a>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator #paginator
                   [length]="dataSource.totalCount"
                   [pageIndex]="0"
                   [pageSize]="20">
    </mat-paginator>

  </div>

  <div *ngIf="dataSource.totalCount == 0  && dataSource.hasSearched">
    <h3>{{'search.result.none' | translate}}</h3>
  </div>
</div>
