$mat-smo: (
  50 : #e7eef6,
  100 : #c2d5e7,
  200 : #9ab9d8,
  300 : #729cc8,
  400 : #5387bc,
  500 : #3572b0,
  600 : #306aa9,
  700 : #285fa0,
  800 : #225597,
  900 : #164287,
  A100 : #bdd4ff,
  A200 : #8ab3ff,
  A400 : #5792ff,
  A700 : #3d82ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$mat-smo-accent: (
  50 : #f1eafc,
  100 : #ddccf8,
  200 : #c7aaf4,
  300 : #b087f0,
  400 : #9f6eec,
  500 : #8e54e9,
  600 : #864de6,
  700 : #7b43e3,
  800 : #713adf,
  900 : #5f29d9,
  A100 : #ffffff,
  A200 : #ece5ff,
  A400 : #c7b2ff,
  A700 : #b598ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-smo-white: #fff;
$mat-smo-blue1: #E8EEF4;
