@import '~@angular/material/theming';

$smo-font-family: 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif';
$smo-font-size: 16px !important;
$smo-line-height: 1.7 !important;

@include mat-core(mat-typography-config($font-family: $smo-font-family));
