$mat-smo: (
  50 : #e0edf3,
  100 : #b3d1e0,
  200 : #80b3cc,
  300 : #4d94b8,
  400 : #267da8,
  500 : #006699,
  600 : #005e91,
  700 : #005386,
  800 : #00497c,
  900 : #00386b,
  A100 : #9ac6ff,
  A200 : #67aaff,
  A400 : #348dff,
  A700 : #1a7fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-smo-accent: (
  50 : #fce7f1,
  100 : #f9c3dc,
  200 : #f59bc5,
  300 : #f072ad,
  400 : #ed549c,
  500 : #ea368a,
  600 : #e73082,
  700 : #e42977,
  800 : #e1226d,
  900 : #db165a,
  A100 : #ffffff,
  A200 : #ffd9e5,
  A400 : #ffa6c1,
  A700 : #ff8cb0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-smo-white: #fff;
