@import '../../styles';

div.artifact {
  flex-direction: column;

  .artifact-details {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;

    .mat-card {
      margin: 5px;
    }

    .left {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      width: 100%;

      @include gt-sm() {
        width: 50%;
      }

      .mat-card {
        height: 100%;
        overflow: scroll;

        &.project-information-card {
          height: 550px;
          overflow: hidden;
        }

        &.dependency-information-card {

          ::ng-deep .dependency-information {
            padding-bottom: 15px;
          }
        }

        .mat-card-content {
          > * {
            width: 100%;
          }
        }
      }
    }

    .right {
      display: flex;
      flex: 1 1 auto;
      width: 100%;

      @include gt-sm() {
        width: 50%;
      }

      .project-model-card {
        flex: 1 1 auto;
      }
    }
  }

}
