<div class="artifact">

  <div>
    <h3>
      <a target="_blank" href="{{ repositoryLink(group, artifact, version) }}">
        &nbsp;{{ group }}:{{ artifact }}:{{ version }}
        &nbsp;<mat-icon style="vertical-align: bottom;">open_in_new</mat-icon>
      </a>
    </h3>
  </div>

  <div class="artifact-details">

    <div class="left">

      <app-dependency-information headerText="{{ group }}:{{ artifact }}"
                                  subText="{{ version }}"
                                  image="xml"
                                  value="{{ pom }}"
                                  *ngIf="pom">
      </app-dependency-information>

    </div>

    <div class="right">

      <app-dependency-information headerText="artifact.apacheMaven"
                                  subText="maven.apache.org"
                                  image="mvn"
                                  value="{{apacheMavenTemplate(group, artifact, version)}}">
      </app-dependency-information>

      <app-dependency-information headerText="artifact.gradleGrails"
                                  subText="grails.github.io/grails-gradle-plugin/"
                                  image="grails"
                                  value="{{gradleGrailsTemplate(group, artifact, version)}}">
      </app-dependency-information>

      <app-dependency-information headerText="artifact.scalaSbt"
                                  subText="scala-sbt.org"
                                  image="scala"
                                  value="{{scalaSbtTemplate(group, artifact, version)}}">
      </app-dependency-information>

      <app-dependency-information headerText="artifact.apacheIvy"
                                  subText="ant.apache.org/ivy/"
                                  image="ivy"
                                  value="{{apacheIvyTemplate(group, artifact, version)}}">
      </app-dependency-information>

      <app-dependency-information headerText="artifact.groovyGrape"
                                  subText="groovy-lang.org/grape.html"
                                  image="groovy"
                                  value="{{groovyGrapeTemplate(group, artifact, version)}}">
      </app-dependency-information>

      <app-dependency-information headerText="artifact.leiningen"
                                  subText="leiningen.org"
                                  image="leiningen"
                                  value="{{leiningenTemplate(group, artifact, version)}}">
      </app-dependency-information>

      <app-dependency-information headerText="artifact.apacheBuildr"
                                  subText="buildr.apache.org"
                                  image="buildr"
                                  value="{{apacheBuildrTemplate(group, artifact, version)}}">
      </app-dependency-information>

      <app-dependency-information headerText="artifact.gradleKotlinDsl"
                                  subText="github.com/gradle/kotlin-dsl"
                                  image="kotlin"
                                  value="{{gradleKotlinDslTemplate(group, artifact, version)}}">
      </app-dependency-information>

      <app-dependency-information headerText="artifact.mavenCentral"
                                  subText="search.maven.org"
                                  image="badge"
                                  value="{{mavenCentralBadge(group, artifact, version)}}">
      </app-dependency-information>

      <app-dependency-information headerText="artifact.purlSpec"
                                  subText="github.com/package-url/purl-spec"
                                  image=""
                                  value="{{purlTemplate(group, artifact, version)}}">
      </app-dependency-information>

    </div>

  </div>

</div>
