@import '../../styles';

div.artifact {
  flex-direction: column;

  .artifact-details {
    display: flex;
    flex-wrap: wrap;

    .mat-card {
      margin: 5px;
    }

    ::ng-deep .dependency-information {
      padding-bottom: 15px;
    }

    .left {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      width: 100%;

      @include gt-sm() {
        width: 70%;
      }
    }

    .right {
      display: flex;
      flex: 1 1 auto;
      width: 100%;

      @include gt-sm() {
        width: 30%;
      }

      .project-model-card {
        flex: 1 1 auto;
      }
    }

    .mat-card-pom-content {
      display: flex;

      app-dependency-information {
        overflow: hidden;
      }

      ::ng-deep .dependency-information {
        height: 100%;
        overflow: hidden;

        .template-value {
          height: 100%;
        }
      }
    }
  }
}
