<div class="artifact">

  <div>
    <h3>
      <a target="_blank" href="{{ repositoryLink(group, artifact, version) }}">
        &nbsp;{{ group }}:{{ artifact }}:{{ version }}
        &nbsp;<mat-icon style="vertical-align: bottom;">open_in_new</mat-icon>
      </a>
    </h3>
  </div>

  <div class="artifact-details">

    <div class="left">

      <mat-card class="project-information-card">

        <mat-card-header class="mat-smo-card-header-toolbar">

          <mat-toolbar color="primary">
            <mat-toolbar-row></mat-toolbar-row>

            <mat-toolbar-row>
              <span>{{ 'artifact.projectInformation' | translate }}</span>
              <span class="flex-spacer"></span>
            </mat-toolbar-row>

          </mat-toolbar>

        </mat-card-header>

        <mat-card-content>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'artifact.groupId' | translate }}" value="{{ group }}"
                   readonly/>
          </mat-form-field>

          <mat-form-field>
            <input matInput
                   placeholder="{{ 'artifact.artifactId' | translate }}" value="{{ artifact }}"
                   readonly/>
          </mat-form-field>

          <mat-form-field>
            <input matInput
                   placeholder="{{ 'artifact.latestVersion' | translate }}" value="{{ version }}"
                   readonly/>
          </mat-form-field>
        </mat-card-content>

      </mat-card>

      <mat-card class="dependency-information-card">

        <mat-card-header class="mat-smo-card-header-toolbar">

          <mat-toolbar color="primary">
            <mat-toolbar-row></mat-toolbar-row>

            <mat-toolbar-row>
              <span>{{ 'artifact.dependencyInformation' | translate }}</span>
              <span class="flex-spacer"></span>
            </mat-toolbar-row>

          </mat-toolbar>

        </mat-card-header>

        <mat-card-content>

          <app-dependency-information title="artifact.apacheMaven"
                                      value="{{apacheMavenTemplate(group, artifact, version)}}">
          </app-dependency-information>

          <app-dependency-information title="artifact.apacheBuildr"
                                      value="{{apacheBuildrTemplate(group, artifact, version)}}">
          </app-dependency-information>

          <app-dependency-information title="artifact.apacheIvy"
                                      value="{{apacheIvyTemplate(group, artifact, version)}}">
          </app-dependency-information>

          <app-dependency-information title="artifact.groovyGrape"
                                      value="{{groovyGrapeTemplate(group, artifact, version)}}">
          </app-dependency-information>

          <app-dependency-information title="artifact.gradleGrails"
                                      value="{{gradleGrailsTemplate(group, artifact, version)}}">
          </app-dependency-information>

          <app-dependency-information title="artifact.scalaSbt"
                                      value="{{scalaSbtTemplate(group, artifact, version)}}">
          </app-dependency-information>

          <app-dependency-information title="artifact.leiningen"
                                      value="{{leiningenTemplate(group, artifact, version)}}">
          </app-dependency-information>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="right">


      <mat-card class="project-model-card">

        <mat-card-header class="mat-smo-card-header-toolbar">

          <mat-toolbar color="primary">
            <mat-toolbar-row></mat-toolbar-row>

            <mat-toolbar-row>
              <span>{{ 'artifact.projectModel' | translate }}</span>
              <span class="flex-spacer"></span>
            </mat-toolbar-row>

          </mat-toolbar>

        </mat-card-header>

        <mat-card-content>

          <app-dependency-information value="{{ pom }}">

          </app-dependency-information>

        </mat-card-content>

      </mat-card>

    </div>

  </div>

</div>
