@import '../../../assets/styles/mixins.scss';

@include deep {
  app-footer {
    .footer {
      position: relative;

      .tm-comment {
        font-size: 10px;
        text-align: center;
      }
    }
  }
}
