@import '../../../styles.scss';

::ng-deep app-footer {
  background-color: $mat-smo-blue1;

  .footer {
    position: relative;

    .tm-comment {
      font-size: 10px;
      text-align: center;
    }
  }
}
